{{/* Override: make title link to url_pdf or external_link if provided */}}
{{ $page := .page }}
{{ $item := .item }}

{{/* Determine the link destination */}}
{{- $pdf := $page.Params.url_pdf | default "" -}}
{{- $ext := $page.Params.external_link | default "" -}}
{{- $href := cond (ne $pdf "") $pdf (cond (ne $ext "") $ext $page.RelPermalink) -}}

<div class="pub-list-item view-citation" style="margin-bottom: 1rem;">
  <div class="row">
    <div class="col-md-1">
      <i class="far fa-file-alt pub-icon" aria-hidden="true"></i>
    </div>
    <div class="col-md-11">
      <a href="{{ $href }}" {{ if or $pdf $ext }}target="_blank" rel="noopener"{{ end }}>{{ $page.Title }}</a>

      <div class="pub-authors">
        {{ with $page.Params.authors }}
          {{ delimit . ", " }}
        {{ end }}
      </div>

      <div class="pub-publication">
        {{ with $page.Params.publication }}
          {{ . | markdownify }},
        {{ end }}
        {{ with $page.Date }}
          {{ .Format "2006" }}.
        {{ end }}
      </div>
    </div>
  </div>
</div>