{{ $page := .page }}

{{/* Determine the link destination */}}
{{- $pdf := $page.Params.url_pdf | default "" -}}
{{- $ext := $page.Params.external_link | default "" -}}
{{- $href := cond (ne $pdf "") $pdf (cond (ne $ext "") $ext $page.RelPermalink) -}}

<div class="pub-list-item" style="margin-bottom: 1rem;">
  <div class="row">
    <div class="col-auto" style="flex: 0 0 40px; text-align: center;">
      <i class="far fa-file-alt pub-icon" aria-hidden="true" style="font-size: 1.5rem; margin-top: 0.25rem;"></i>
    </div>
    <div class="col">
      <a class="pub-title" href="{{ $href }}" {{ if or $pdf $ext }}target="_blank" rel="noopener"{{ end }}>{{ $page.Title }}</a>
      <div class="pub-authors">{{ with $page.Params.authors }}{{ delimit . ", " }}{{ end }}</div>
      <div class="pub-publication">
        {{- with $page.Params.publication -}}
          <em>{{ . | markdownify | plainify }}</em>
        {{- end -}}
        {{- with $page.Date -}}
          , {{ .Format "2006" }}
        {{- end -}}
      </div>
    </div>
  </div>
</div>