{{/*
  * This is a custom block based on the 'collection' block.
  * It's modified to render items in a simple list format instead of a grid/card layout.
*/}}
{{ $block := . }}
{{ $id := $block.id | default "collection" }}
{{ $content := $block.content }}
{{ $design := $block.design }}

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">

      {{ with $content.title }}
        <h1 class="mt-0">{{ . | markdownify | emojify }}</h1>
      {{ end }}
      {{ with $content.subtitle }}
        <p class="section-subtitle">{{ . | markdownify | emojify }}</p>
      {{ end }}
      {{ with $content.text }}
        <div class="section-text">{{ . | markdownify | emojify }}</div>
      {{ end }}

      <div class="content">
        {{ $items := where site.RegularPages "Type" "in" $content.filters.folders }}
        {{ $view_name := $design.view | default "citation" }}
        {{ $view := printf "blocks/collection/views/%s.html" $view_name }}

        {{/* This is the key part: We render the items directly without a card/grid container. */}}
        <div class="publication-list">
          {{ range $items }}
            {{ partial $view (dict "page" . "item" .) }}
          {{ end }}
        </div>
      </div>

    </div>
  </div>
</div>